// Mixins
@import "mixins";

// Timeline
$timeline-color: #ee4d4d;

#timeline {
	line-height: 1.5em;
	font-size: 14px;
	width: 90%;
	margin: 30px auto;
	position: relative;
    @include prefix(transition, all .4s ease);
    
    &, 
    *, 
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	
	.timeline-item {
		margin-bottom: 50px;
		position: relative;
		@extend %clearfix;

		.timeline-icon {
			background: $timeline-color;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			margin-left: -23px;
			@include prefix(border-radius, 50%);

			img {
				position: relative;
				transform: translate(50%, 50%);
			}
		}

		.timeline-content {
			width: 45%;
			background: #fff;
            padding: 20px;
            position: relative;
			@include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);

			h2 {
				padding: 15px;
				background: $timeline-color;
				color: #fff;
				margin: -20px -20px 0 -20px;
				font-weight: 500;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			&:before {
				content: '';
				position: absolute;
                top: 20px;
                right: -5px;
                width: 14px;
				height: 14px; 
                background-color: $timeline-color;
                display: block;
                border-radius: 3px;
                transform: rotate(45deg);
			}

			&.right {
				float: right;

				&:before {
					left: -5px;
                    right: inherit;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0;
		&:before {
			left: 0;
		}
		
		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;
				
                &:before,
                &.right:before {
					left: -5px;
					right: inherit;
				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}